@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-secondary: #475569;
  --color-background: #f1f5f9;
  --color-surface: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-slate-800 antialiased;
  }
}
